<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jira Slow Queries Log Analyzer</title>
    <meta charset="utf-8">
    <style>
    </style>
</head>
<body>

<div class="container">
    <div class="header">
        <h3 class="text-muted">Jira Slow Queries Log Analyzer</h3>
    </div>
    <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
    </form>
    <span>Note: Please upload your atlassian_slow_queries.log file. File extension must be log or zip.
        <br>Maximum file size is 10 MB. You can upload log files in .zip file.</span>
</div>

<script>
</script>
</body>
</html>